@import "tailwindcss";
@plugin "@tailwindcss/forms";
@import "tw-animate-css";

@theme inline {
    --color-brand-purple: #423B87;
    --color-brand-purple-light: #9896D9;
    --color-brand-yellow: #F2FF20;
    --color-brand-text: #262661;

    --color-gray-50: #FAFAFA;
    --color-gray-100: #F2F2F2;
    --color-gray-200: #E5E7EB;
    --color-gray-300: #D1D5DB;
    --color-gray-400: #9CA3AF;
    --color-gray-500: #6B7280;

    --color-section-light: #F2F2FA;
    --color-section-soft: #F8F8FC;

    --font-sans: Quicksand, Inter, system-ui, sans-serif;
    --font-heading: Raleway, sans-serif;
    --font-inter: Inter, sans-serif;

    --spacing-0: 0px;
    --spacing-px: 1px;

    --spacing-1: 0.25rem;   /* 4px */
    --spacing-1_5: 0.375rem;/* 6px */
    --spacing-2: 0.5rem;    /* 8px */
    --spacing-2_5: 0.625rem;/* 10px */
    --spacing-3: 0.75rem;   /* 12px */
    --spacing-3_5: 0.875rem;/* 14px */
    --spacing-4: 1rem;      /* 16px */
    --spacing-5: 1.25rem;   /* 20px */
    --spacing-6: 1.5rem;    /* 24px */
    --spacing-7: 1.75rem;   /* 28px */
    --spacing-8: 2rem;      /* 32px */
    --spacing-9: 2.25rem;   /* 36px */
    --spacing-10: 2.5rem;   /* 40px */
    --spacing-12: 3rem;     /* 48px */
    --spacing-14: 3.5rem;   /* 56px */
    --spacing-16: 4rem;     /* 64px */

    --text-xs: 0.75rem;     /* 12px */
    --text-sm: 0.875rem;    /* 14px */
    --text-base: 1rem;      /* 16px */
    --text-lg: 1.125rem;    /* 18px */
    --text-xl: 1.25rem;     /* 20px */
    --text-2xl: 1.5rem;     /* 24px */
    --text-3xl: 1.875rem;   /* 30px */
    --text-4xl: 2.25rem;    /* 36px */
    --text-5xl: 3rem;       /* 48px */
    --text-6xl: 3.75rem;    /* 60px */

    --radius-none: 0;
    --radius-sm: 4px;
    --radius-base: 10px; /* твоё фирменное */
    --radius-lg: 16px;
    --radius-xl: 24px;

    --shadow-card: 0 10px 26px rgba(0,0,0,0.15);

    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}

.form-label {
    @apply block mb-1 font-medium text-brand-text;
}